@keyframes trackMove {
  0% {
    transform: translateY(-32px);
    opacity: 0;
  }

  20% {
    opacity: 0.8;
  }

  70% {
    opacity: 0.8;
  }

  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes arrowBounce {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0.6;
  }

  50% {
    transform: translateY(5px);
    opacity: 1;
  }
}
